body {
    background-color: #f8034d;
    color: #ffa1e3;
}

.navbar {
    background-color: #ffa1e3;
    padding: 20px;
    text-align: center;
}

.navbar a {
    color: #ffd8f9;
    text-decoration: none;
    font-size: 18px;
    margin: 0 15px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.flash {
    background-color: #ffb6c1;
    color: #fff;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: center;
    animation: fadeInOut 3s ease-in-out;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1, h4 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#accountDropdown {
    position: relative;
    display: inline-block;
}
